.announcement {
  background-color: #D7E0D5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid black;

}

.announcement .heading {
  display: flex;
}
.announcement .title {
  flex: 11;
  font-weight: 600;
  font-size: 20px;
}

.announcement .date {
  flex: 1;
}

.announcement .description {
  padding: 10px 0px 10px 0px;
  white-space: pre-wrap;
  font-size: 15px;
  font-weight: lighter;
}
