.comment {
  display: flex;
  margin: 15px 0px 0px 10px;
}

.comment .profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 49.9%;
}

.comment .comment-box {
  padding: 15px;
  width: 90%;
  background-color: #f2f2f2;
  margin-left: 15px;
  border: none;
  min-height: 20px;
  border-radius: 10px;
  position: relative;
}

.comment .deleteComment {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 4px;

}

.comment .comment-text {
  margin-top: 7px;
  font-size: 16px;
  white-space: pre-line;
  
}
