.courseBox {
  color: black;
  width: 310.95px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
  /* box-shadow: 2px 2px #9e9c9cb3; */
  position: relative;
  height: 240px;
}

.courseBox .courseName,
.courseBox .courseDescription {
  padding: 10px 5px 0px;
}

.courseDescription{
    /* Display weird border line  */
  /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
  /* overflow: scroll; */
  overflow: auto;
  height: 136.5px;
}

.courseBox a {
  color: #152E34;
}

.courseBox .join-btn {
  margin: 10px 0px 0px 0px;
  padding: 10px;
  /* border-top: 1px solid black; */
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
  border-radius: 0px 0px 9px 9px;
  cursor: pointer;
  color: white;
}
