.courseSidebar {
  flex: 2;
  margin-top: 20px;
}

.courseSidebar a {
  padding: 15px 0px 15px 10px;
  font-size: 23px;
  display: block;
  color: #58686a;
  font-weight: bold;
}

/* .courseSidebar a:hover {
  background-color: rgb(236, 232, 225);
  border-radius: 7px;
} */

.courseSidebar .active {
  color: black !important;
  background-color: white;
  /* border: 2px solid; */
  border-radius: 10px;
}
