/* login and register heading */

ul {
  list-style: none;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo,
.header ul li {
  margin: 20px;
  font-size: 1.2rem;
  line-height: 2;
  display: flex;
  align-items: center;
  color: white;
  cursor: default;
}

.header .logo {
  font-size: 1.5rem !important;
}

.header a {
  text-decoration: none;
  color: white;
}

.header .register-btn {
  background: #eca645;
  padding: 9px 12px 9px 12px;
  border-radius: 6px;
}

.header .register-btn:hover {
  background: #e6a447;
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0px 0px !important;
    font-size: 1rem;
    padding: 20px 5px !important;
  }
}

@media screen and (max-width: 460px) {
  .header ul li {
    display: none;
  }

  .header .logo {
    margin: 0 auto;
    display: block;
  }
}
