.profile_language_info div {
  margin-right: 10px;
  display: inline-block;
}

.level {
  border-radius: 20px;
  height: 20px;
  margin-left: 5px;
  width: 100px;
  border: 1px solid #ccc;
  vertical-align: bottom;
}

.nlevel-fill {
  background-color: #9D65F1;
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.flevel-fill {
  background-color: #4F399F;
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile_language_info .level {
  padding: 1px;
}
