.explore-toggle-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: normal;
}

.explore-toggle-btns a {
  color: black;
}
.users-toggle,
.courses-toggle {
  display: inline-block;
  padding: 10px;
  font-size: 1.3rem;
  background-color: white;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.users-toggle {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
}

.courses-toggle {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid black;

}
