.userResultsList {
  margin-top: 20px;
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
}

.noUsersFound {
  text-align: center;
  margin: 50px;
}

.noUsersFound svg {
  margin: auto;
  display: block;
}

.noUsersFound p {
  margin-top: 10px;
}
