.profile-result-list-item {
  padding: 30px;
  display: flex;
  background-color: white;
  border-radius: 0.8rem;
  border: 0.1px solid #ccc;
  margin: 20px;
  color: black;
}

.profile-result-list-item a {
  color: black;
}

.profile-result-list-item img {
  width: 60px;
  height: 60px;
  border-radius: 49.9%;
  margin-right: 10px;
  flex: 2;
}
.profile-result-list-item .profile_info {
  flex: 7;
}
.profile-result-list-item .profile_info * {
  padding: 2px;
}

.profile_title {
  display: flex;
  align-items: center;
}

.profile_title h1,
.profile_title h4 {
  margin-right: 10px;
}

.profile-result-list-item .connect_btn {
  flex: 3;
}
