.profile-top {
  height: 300px;
  margin-bottom: 20px;
}
.profile-cover {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.profile-user-img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
  position: absolute;
  left: 175px;
  margin: auto;
  top: 100px;
  object-fit: cover;
  border: 10px solid white;
}

.profile-content {
  display: flex;
  max-width: 1100px;
  margin-left: 150px;
}

.profile-info {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 10px 10px 10px #dbdbd2;
  position: sticky;
  top: 2rem;
}

.profile-left-top {
  display: flex;
  max-width: 300px;
}

.profile-left-top .user-name {
  flex: 8;
}

.profile-left-top .connect-btn {
  flex: 4;
}

.user-name,
.user-foreignName,
.user-bio,
.profile .language {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.profile-right {
  flex: 8;
}
